.DS_Store
workspaces.json
workspace.json
workspace-mobile.json
#.obsidian/core-plugins.json
.obsidian/**/*.zip
.obsidian/
.source/
.trash/
.distribute/
**/vault-stats.json
**/graph.json
empty\ files.md
**/obsidian-regex-replace/data.json
**/super-local-graph/data.json
**/heycalmdown-navigate-cursor-history/data.json
grep_out.md
concept_img/
azy-anki-link/
.files.txt
.scappleAlias.txt
books/*
record.json
pininfo.md
tagTree.md

非技术/todayReview.md

非技术/projectNotes.md
非技术/spider/*
todayTask.md
test_*.canvas
test_*.md
input.scap
*任务得分.md
\.~*
__changelog.xml
__TOC.xml
非技术/reviewRecord.md
**/QuickLook/*
fileIgnore/excalibrain_override.md
非技术/reviewLength.md
非技术/exhibition/*
PDF/*
*_canvas.md
*.canvas
*_scap.md
**/canvas-link/data.json
*.swp
fileIgnore/*
!fileIgnore/taginfo.md
canvas_2024*.md

zyErrorLogDetail.md
test*.md
*test_dw.md

非技术/AllScapple.canvas
.obsidian/plugins/obsidian-memos/
project/*
非技术/language/*
paths.md
非技术/test*.md
*_mm.md
*/新建文本.md
zettelkasten/public/.git/
**/Recording 2025*.m4a
fileIgnore/menuTxt.md
Untitled*
re-*.css
